
.footer-container{
    margin-bottom: 5rem;
    margin-top: 100px;
}
.footer-logo a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(72, 72, 168);
    font-weight: 600;
}

.footer-parts{
    margin-bottom: 1rem;
}

.footer-part{
    margin-bottom: 2rem;
}

.footer-part-item{
    cursor: pointer;
    color : lightgray;
    text-decoration: none;
}

.footer-part{
    font-weight: 600;
}

.footer-cr-area{
    margin-bottom: 2rem;
}

.copyright{
        margin: .3rem;
        font-size: .85rem; 
}

.createdby{
    font-size: .75rem;
}

.lght-txt{
    font-size: .85rem;
    margin-bottom: 1rem;
    text-decoration: none; 
}

.footer-sc-item{
    margin-left: 1rem;
}

.reg-btn{
    border: none;
}

