@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
.contentNotLogin{
    justify-content: flex-end;
    padding: 2rem 0;
}

.contentText{
    width: 500px !important;
    margin-right: 3rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contentText h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.contentText span{
    font-weight: 600;
    opacity: .6;
}
.contentPicture img{
    width: 300px;
    margin-left: 50px;
}
.contentPropRow{
    justify-content: center;
}
.contentPropHead{
    padding:2rem 0 3rem 0;
}
.contentPropHead h2{
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
}
.contentPropHead span{
    opacity: .7;
}
.contentProps{
    display: flex;
    flex-wrap: wrap;
}
.contentProps div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-title{
    padding-top: .5rem;
    font-family: "Montserrat",sans-serif;
}
.card-text{
    margin-top: 1rem;
    opacity: .7;
}
.propPicBackground{
    display: flex;
    background-color: rgba(128, 0, 128, 0.211);
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    padding:4px 5px 7px 5px;
    border-radius: 5rem;
}
.row{
    --bs-gutter-x: 0 !important;
}


/* Contact  */
.contactUpperRow{
    padding: 100px 0;
    background-color: #993e2c;
}
.contactUpperCol h1{
    color: white;
    font-weight: 400;
}
.contactUpperRow, .contactMiddleRow, .contactMiddleRow1, .contactFormRow{
    justify-content: center;
}
.contactMiddleCol{
    margin: 60px 0 !important;
}
.contactMiddleCol p {
    width: 450px;
}
.contactMiddleRow1{
    padding: 100px 0;
    align-items: center;
}
.contactMiddleRow1 div:first-child{
    display: flex;
    justify-content: flex-end;
    width: fit-content !important;
    margin-bottom: 40px;
}
.contactImg{
    width: 420px;
}
.contactInformations{
    margin-left: 50px;
}
.contactInformations b{
    font-family: "Montserrat", sans-serif;
}
.contactInformations p {
    margin-bottom: 40px;
}
.contactFormRow{
    padding:100px 0 ;
    background-color: #F2F2F2;
}
.contactFormInputCol{
display: flex;
justify-content: center;
}
.contactFormInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactFormInputs label{
    margin: 10px 0;
    width: 70%;
}
.contactHeader{
    text-align: center;
}
#fullname, #email{
    height: 50px;
    width: 70%;
    padding: 0 10px;
    outline: none;
    border: 1px solid #d1d1d1;
}
#message{
    width: 70%;
    min-height: 300px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    resize: none;
    outline: none;
}
.contactFormButton{
    width: 170px;
    border-radius: 0px !important;
    margin-top: 50px;
}
/* About  */

@media screen and (max-width:500px) {
    .contactImg{
        width: 300px;
    }
    .contactInformations{
        margin: 0;
    }
}

@media screen and (max-width:700px) {
    .contactFormInputs label, #fullname, #email, #message{
        width: 90%;
    }
    .contactMiddleCol p {
        width: fit-content;
    }
}

@media screen and (max-width:920px) {
    .contentNotLogin, .contentPicture{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contentText, .contentPicture img{
        margin: 0;
    }
    .contentPropHead{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-body{
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .contentText{
        width: 400px !important;
    }
    .contentText h1{
        font-size: 1.7rem;
    }
}
