.Footer{
    padding: 0 0 5rem 0;
}
.Footer >div{
    justify-content: center;
}
.footerLogoRow{
    padding:2rem 0;
}
.footerLinksCol, .footerCopyrightCol, .footerSocialMediaCol{
    display: flex;
}
.footerLinksCol >div{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.footerLinksCol h5{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
}
.footerLinksCol a,.footerSocialMediaCol a{
    text-decoration: none;
    color: #535353;
    font-family: "Inter", sans-serif;
}
.footerCopyright p, .footerSocialMediaCol a{
    margin: .3rem;
    font-size: .85rem;
}
.signButtonCol,.footerSocialMedia{
    display: flex;
    justify-content: flex-end;
}
.footerSocialMedia svg{
    font-size: 24px;
}
.signButtonCol button{
    background-color: #556af7;
    padding: .7rem 2.5rem;
    font-weight: 700;
    font-family: "Inter",sans-serif;
    border: none;
}
.footerCopyrightCol button:hover{
    background-color: #3852F8;
}
.footerLogo{
    color: #556AF7;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
}
.footerSocialMediaCol{

}