*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

  body{
    font-family: 'Inter', sans-serif;
  }
  
  .header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 101px;
  }
  
  .logo a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(72, 72, 168);
    font-weight: 700;
  }
  
  .headerLinks{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    text-align: center;
  }
  
  .headerLinks a{
    display: flex;
    align-items: center;
    color: gray;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }

  .header-container .btn{
    box-shadow: none !important;
}

  .signButtons button{
    margin-left: 5px;
  }
  .responsiveMenu{
    display: none;
    font-size: 35px;
    height: 100%;
    width: 75px;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor:pointer;
  }
  .responsiveMenu:hover{
    background-color: rgba(94, 94, 94, 0.15);
  }
  .responsiveMenuDots{
    transition: .3s;
  }

@media screen and (max-width:870px) {
  .headerLinks{
    display: none;
  }
  .signButtons{
    display: none;
  }
  .responsiveMenu{
    display: flex;
  }
  .header-container{
    justify-content: space-between;
    padding: 0 0 0 2rem;
  }
  .responsiveActive{
    transform: rotate(-90deg);
  }
}